<ion-header>
  <ion-toolbar>
    <ion-title>Mapa de Calvillo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <google-map height="500px" width="100%" [center]="center" [zoom]="zoom">

    @if (lugares()[0]) {
      <map-marker 
        [position]="lugares()[0].coordenadas" 
        [title]="lugares()[0].nombre"
        (mapClick)="onMarcadorClick(lugares()[0])">
      </map-marker>
    }

    @if (lugares()[1]) {
      <map-marker 
        [position]="lugares()[1].coordenadas" 
        [title]="lugares()[1].nombre"
        (mapClick)="onMarcadorClick(lugares()[1])">
      </map-marker>
    }

  </google-map>

  <ion-modal [isOpen]="modalAbierto" [breakpoints]="[0, 0.4, 0.8]" [initialBreakpoint]="0.4">
    <ng-template>
      @if (lugarSeleccionado()) {
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ lugarSeleccionado()!.nombre }}</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <ion-card>
            <ion-card-content>
              Categoría: {{ lugarSeleccionado()!.categoria }}
            </ion-card-content>
          </ion-card>

          <ion-button expand="block" (click)="cerrarModal()">
            Cerrar
          </ion-button>
        </ion-content>
      }
    </ng-template>
  </ion-modal>

</ion-content>