<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calvillo Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">
  <div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      
      <ion-item class="input-item">
        <ion-label position="floating">Usuario (Email)</ion-label>
        <ion-input type="email" formControlName="usuario" placeholder="ejemplo@correo.com"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="contraseña" placeholder="Mínimo 6 caracteres"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-btn" [disabled]="!loginForm.valid">
        Iniciar Sesión
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <p>¿No tienes una cuenta?</p>
      <ion-button fill="clear" routerLink="/register" class="register-btn">
        Registrarse
      </ion-button>
    </div>
  </div>
</ion-content>