.login-content {
  --background: #fdfdfd; // Un blanco muy suave
}

.login-container {
  margin-top: 20%;
  padding: 20px;

  h2 {
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 30px;
  }
}

.input-item {
  --background: #ffffff;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  --highlight-color-focused: #f0a69a; // Tono coral para foco
}

.login-btn {
  --background: #f0a69a; // Tu color principal coral
  --background-activated: #e69285;
  margin-top: 20px;
  font-weight: bold;
}

.register-btn {
  --color: #f0a69a; // Color coral para el texto de registro
  text-transform: none;
}