<div class="map-wrapper">
  <ion-segment (ionChange)="cambiarCategoria($event)" value="todos" mode="md">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="artesanos">
      <ion-label>Artesanos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="map-container">
    <div id="map">
      <p style="text-align: center; padding-top: 50px; color: #666;">
        Cargando mapa de Calvillo...
      </p>
    </div>
  </div>
</div>